<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Password History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Clear History Button -->
  <ion-item>
    <ion-button expand="full" color="danger" (click)="clearHistory()">Clear History</ion-button>
  </ion-item>

  <ion-list class="password-list">
    <ion-item *ngFor="let password of passwords; let i = index" class="password-item">
      <ion-label>{{ password }}</ion-label>
      <ion-button fill="clear" slot="end" (click)="copyToClipboard(password)">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-button>
      <!-- Delete Password Button -->
      <ion-button fill="clear" slot="end" color="danger" (click)="deletePassword(i)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

 
</ion-content>
