<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Password Generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Generate a Secure Password</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Strength</ion-label>
        <ion-select [(ngModel)]="strength" interface="popover">
          <ion-select-option value="weak">Weak</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="strong">Strong</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="length" type="number" min="6" max="20" label="Length" label-placement="fixed"></ion-input>
      </ion-item>

      <ion-button expand="full" color="tertiary" (click)="generatePassword()">Generate</ion-button>

      <ion-item *ngIf="password" class="generated-password">
        <ion-input readonly [value]="password" label="Password" label-placement="fixed"></ion-input>
      </ion-item>

      <ion-item *ngIf="password" class="action-buttons">
        <ion-button expand="full" color="success" (click)="acceptPassword()">Accept</ion-button>
        <ion-button expand="full" color="danger" (click)="generatePassword()">Regenerate</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
