.custom-card {
  --background: #1e1e1e;
  --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 16px;
  color: #ffffff;
}

ion-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

ion-item {
  --background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}

generated-password ion-input {
  font-family: monospace;
  font-size: 1.2rem;
  color: #d1d1d1;
}

ion-input {
  color: #ffffff;
}

ion-label {
  color: #d1d1d1;
}

.action-buttons ion-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}
